#Fix Rewrite
Options -Multiviews

# Mod Rewrite
Options +FollowSymLinks
RewriteEngine On
RewriteBase /school-management-system/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# used for php pages such as "yoursite.com/login.php" will become "yoursite.com/login/ --make user and seo friendly give search engine what your link is all about"
RewriteRule ^([a-z_]+)\/?$ $1.php [NC]
